/* *{
    margin: 0;
    padding: 0;
    outline: 0;
  } */ 

@font-face {
    font-family: "SegoeScript";
    src: url("../fonts/segoesc.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Dancing";
    src: url("../fonts/DancingScript-Regular.ttf");
}

body{ 
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(161, 223, 62, 0.782) 0%, rgb(233, 213, 148) 100%); 
    font-family: 'Roboto';
  }

#conteudo-pagina {
    margin: 0 auto;
}

#guest_header {
    text-align: center;    
    font-weight: bold;
    text-align: center;
}

#tabela {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
}

/* thead{
    background-color: rgb(37, 37, 37);
    color: white; 
} */

#tabela th, #tabela td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}

.actionButtEdit{
    width: 60px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Roboto";
    font-size: 12px;
    color: black;
    background-color: rgb(255, 156, 172);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.actionButtDelete{
    width: 60px;
    text-align: center;
    font-family: "Roboto";
    font-size: 12px;
    color: white;
    background-color: rgb(156, 2, 2);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

/* ============= Modal form ===============  */

/* Estilos para o modal */
.modalEdit {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.593);
    padding: 20px;
    box-sizing: border-box;
}

.modalEdit-content {
    /* background: radial-gradient(circle, rgba(181, 228, 106, 0.782) 0%, rgb(233, 213, 148) 100%);  */
    background:  rgba(235, 253, 215, 0.982);
    border: 4px solid rgb(195, 255, 134);

    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60%; 
    height: 55%;
    font-size: 15px;
    font-family: "Dancing";  
    color: rgb(252, 100, 125); 

}
    
.modalEdit-content h2 {
    font-family: "Dancing";  
}

#editForm{
    width: 100%;
    /* border: 2px solid black; */
    display: inline-block;
}

.editLabelConvidado {
    margin-left: 80px;
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(252, 100, 125);
    display: block;
    font-family: "Dancing"; 
    text-align: left;
    
}

#editName, #editOlderCompanion {
    width: 80%;
    height: 30px;   
    border: 2px solid rgb(161, 244, 78);
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-size: 16px;
    text-align: center;
    background-color: rgb(236, 235, 235);    
}
/* 
#editMinorCompanion {
    width: 30px;
} */

#editName:focus, #editOlderCompanion:focus, #editMinorCompanion:focus{
    border: 2px solid pink;
    outline: none;
}

#editName:hover, #editOlderCompanion:hover, #editMinorCompanion:hover{
    border: 2px solid pink;
}

#confirmEdit, #cancelEdit {   
    margin-top: 10px;
}

.contadorEdit{
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    display: flex;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px; /* Espaço entre os elementos */
}

.close {
    /* display: none; */
    color: #150213;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto"; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 520px){

    .center-align {
        width: 100%;  /* Usa toda a largura disponível */
    }

    .editLabelConvidado{
        margin-left: 30px;
    }

    .modalEdit-content {
        width: 80%;
        height: 65%;
    }
}